<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>The Best Site Ever</title>
  </head>
  <body>
    <h1>Thanks for submitting a form, <%= data.who %>!</h1>
  </body>
</html>
